{% extends 'main.html' %}
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<div class="home-container">

    <div class="side-bar-container">
        {%include 'appbase/topic_component.html'%}
    </div>


    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{%url 'create-room' %}"><b>CREATE ROOM</b></a>
                <hr>
                <div>
                    {%include 'appbase/feed_component.html' %}
                </div>


    </div>
<div>
    <h3>RECENT ACTIVITY</h3>
    <hr>
    {%include 'appbase/activity_component.html'%}
</div>

</div>



{% endblock content %}