<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    {% load static %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/color.css' %}"/>
    <title> study app </title>
  </head>
  <body>
    
    <!-- navigation bar -->
    {% include 'nav.html' %}
    <!-- error/instruction messages -->

 <!-- error/instruction messages -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content%}
    {% endblock content%}

    <script src="{% static 'js/nav-script.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
  </body>
</html>
