{% load static %}
<nav>
    <div class="menu-icon"><span class='bx bx-menu'></span></div>
    <div class="logo">
        {% comment %} <div class="logo-img">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div> {% endcomment %}
        <div> student done </div>
    </div>
    <div class="nav-items">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'index' %}">About</a></li>
        <li><a href="{% url 'messages' %}">Messages</a></li>
    </div>
    <div class="search-icon"><span class='bx bx-search-alt-2' </span></span></div>
    <div class="cancel-icon"><span class='bx bx-x' </span></span></div>
    {% comment %} <div class="search-bar"> {% endcomment %}
    <form class="search-bar" method="GET" action="{%url 'home'%}">
        <input type="text" class="search-data" name='q' placeholder="Search" required autocomplete="off" />
        <button type="submit"><i class='bx bx-search-alt-2'></i></button>
    </form>
    {% comment %} <div> {% endcomment %}



    {% if request.user.is_authenticated %}
    <div class="nav-profile">
        <div class="profile-pic">
            <img src="{{request.user.avatar.url}}" alt="">
        </div>
        <div class="username">{{request.user.username}}</div>
        <div class="profile-icon dropdownbtn"><span class='bx bx-chevron-down'></span></div>
        <div class="profile-icon dropupbtn"><span class='bx bx-chevron-up'></span></div>
        <div class="dropdown">
            {% comment %} <li><a href="{% url 'user-profile' room.host.id %}">profile</a></li> {% endcomment %}
            <li><a href="{% url 'update-user' %}">Settings</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </div>
    </div>
    {% else %}
    <div class="login"><a href="{% url 'login' %}">Login</a></div>
    {% endif %}
</nav>
